<%= notice_info %>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      :<%= params[:table_name] %>

      <%= erb :_operations %>
    </h3>
  </div>

  <div class='panel-body'>
    <%= erb :_execute_sql %>

    <%= erb :_insert_panel %>

    <%= erb :_schema %>
  </div>

  <%= erb :_table %>

  <%= erb :_pagination %>
</div>