<%= notice_info %>

<div class="panel panel-default">
  <h3 class="panel-heading panel-title">
    <%= params[:table_name] %>

    <span class="pull-right">
      <form id='panel_form' action="<%= "#{request.path_info}/delete_all"%>" method="post">
        <input type="hidden" name="_method" value="delete" />
      </form>

      <li class="dropdown" style='display: block;'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Destroy <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
          <li><a href="#" onclick="$('#panel_form').submit();">Delete All Data</a></li>
          <li><a href="#" onclick="$('#panel_form').attr('action', '<%= "#{request.path_info}/truncate"%>');$('#panel_form').submit();">Truncate Table</a></li>
          <li><a href="#" onclick="$('#panel_form').attr('action', '<%= "#{request.path_info}/drop"%>');$('#panel_form').submit();">Drop Table</a></li>
        </ul>
      </li>
    </span>
  </h3>

  <table class="table">
    <thead>
      <% @dataset.columns.each do |column| %>
        <th>
          <%= column %>
        </th>
      <% end %>
    </thead>

    <tbody>
      <% @dataset.each do |row| %>
        <tr>
          <% @dataset.columns.each_with_index do |column, i| %>
            <td>
              <%= row[column].is_a?(String) ? long_string_become_short(row[column]) : row[column] %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= erb :pagination%>
</div>