<%= @dataset.sql %>
</br>
<%= @dataset.truncate_sql %>
</br>
<%= @dataset.insert_sql %>
</br>
</br>

<a href="<%= "#{request.path_info}/delete_all"%>" _method="delete">Delete_all</a>

<a href="<%= "#{request.path_info}/truncate"%>">Truncate</a>

<input type="submit" value="delete all">